.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  font-size: 20px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
}

.navlinks {
  display: flex;
  gap: 20px;
  padding: 0px 15px;
}

.heading {
  padding: 0;
  margin: 0;
}
