.skills {
  display: flex;
}

.cardlist {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  word-wrap: break-word;
}

.carddetail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.carddetail__card2 {
  display: none;
}
.carddetail__card3 {
  display: none;
}

.item-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
}
