@use "./mixin.scss";
@mixin section_header {
}

body {
  font-family: "Inconsolata", monospace;
  background-color: #1a1b26;
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  background-color: #07070a;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 40px;
}

.navbar__link {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: space-evenly;
  margin-top: 55px;
  position: sticky;
  top: 0;
  z-index: -1;
  height: 90vh;
  @include mixin.phone {
    flex-direction: column;
  }
  @include mixin.tablet {
    flex-direction: column;
  }
}

.header__image {
  max-width: 700px;
  width: 100%;
  padding-left: 10px;
  align-self: center;
}

.header__title {
  text-align: right;
  margin-top: 80px;
  color: white;
  font-size: 80px;
  @include mixin.phone {
    font-size: 50px;
  }
}

.title__scroll {
  display: flex;
  justify-content: center;
  color: white;
}

.section {
  display: flex;
  flex-direction: column;
  z-index: 1;
  border-radius: 10px;
}

.skills {
  display: flex;
  flex-direction: column;
  background-color: #414868;

  &__header {
    font-size: 40px;
    padding-left: 10px;
  }
}

.skills__container {
  display: flex;
  justify-content: center;
}

.cardlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.carddetail {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  width: 60%;
}

.carddetail__card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.item-card {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1b26;
  color: white;
  height: 80px;
  width: 200px;
  border: 3px solid transparent;
  border-radius: 15px 15px 5px 15px;
  margin-top: 10px;
  margin-bottom: 10px;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

    border: 3px solid black;
    top: -4px;
  }

  @include mixin.phone {
    height: 50px;
    width: 100px;
  }
}

.carddetail__img {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
}

.projects {
  display: flex;
  flex-direction: column;
  background-color: #24283b;
  &__header {
    font-size: 40px;
    padding-left: 10px;
  }
}

.project__grid {
  display: grid;
  margin: 50px;
  gap: 25px 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  @include mixin.phone {
    display: flex;
    flex-direction: column;
  }
}

.grid__item__img {
  width: 100%;
  max-width: 890px;
  max-height: 200px;
}

.aboutMe {
  background-color: #414868;

  &__header {
    font-size: 40px;
    padding-left: 10px;
    margin-bottom: 0;
  }
}

.aboutMe__container {
  display: flex;
  &__text {
    display: flex;
    font-size: 50px;
    padding: 5px;
    text-align: right;
    align-items: center;
  }
  @include mixin.phone {
    flex-direction: column;
    &__text {
      font-size: 20px;
    }
  }
}

.aboutMe__contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  @include mixin.phone {
    flex-direction: column;
    justify-content: center;
    font-size: 5px;
  }
}

.contact__items {
  font-size: 50px;
  @include mixin.phone {
    font-size: 20px;
  }
}

.aboutMe__container__img {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  &__text {
    max-width: 50px;
    max-height: 50px;
  }
}

.body__gap {
  height: 50px;
  z-index: -1;
  background-color: #1a1b26;
}

.blinking {
  animation: blink 1s steps(5, start) infinite;
}

.bounce {
  animation: bobbing 2s ease infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes bobbing {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
