.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.img {
  width: 80%;
}

.heading {
  &:hover {
    cursor: pointer;
    transform: translate(0px, -2px);
  }
}
.active {
  text-decoration: underline;
}
